/* .level-block {
  text-align: center;
  margin: 1px;
  min-height: 50px;
  min-width: 80px;
  cursor: pointer;
  border-radius: 15px;
  border: 2px solid transparent;
}

.level-block:hover {
  border: 2px solid #007f01;
}

.level-block p {
  word-wrap: break-word;
  max-width: 280px;
}

.level-block.level-active div.line {
  background-color: #007f01;
  height: 5px;
}

.level-block.level-finished {
  color: grey;
}

.level-block.level-dismissed {
  color: grey;
}

.level-block div.line {
  background: #494949;
  height: 5px;
}

.level-finished div.line {
  background: #323232;
}

.level-dismissed div.line {
  background: #1f1f1f;
}

#level-list {
  width: auto;
  margin: 40px 20px;
} */

#level-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 101px);
  padding-bottom: 40px;
}

.level-block {
  cursor: pointer;
}

.level-block i {
  color: #d8d8d8;
}

.level-block:hover i {
  color: #fff;
}

.level-block .line {
  margin: 0 1px;
  background-color: #d8d8d8;
  opacity: 0.7;
}

.level-block:hover .line {
  background-color: #fff;
  opacity: 0.9;
}

.level-block.level-finished .line {
  background-color: #494949;
}


.level-block.level-active .line {
  background-color: #0f0;
  opacity: 0.9;
}

.level-block.level-active span,
.level-block.level-active i {
  color: #fff;
}

.level-block p, .level-block span, .level-block i {
  color: #d8d8d8;
  margin: 5px 0;
}

.level-block:hover p, .level-block:hover span {
  color: #fff;
}

.level-block.level-finished p,
.level-block.level-finished span,
.level-block.level-finished i {
  color: #656565;
}
/*
.level-block.level-finished span {
  color: #656565;
} */


.level-block.level-finished:hover p,
.level-block.level-finished:hover span,
.level-block.level-finished:hover i
 {
  color: #909090;
}
