body {
  min-width: 26em;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0 1em;
  margin: 0;
}

ul input {
  vertical-align: bottom;
}

ul label {
  vertical-align: middle;
  padding: 0 0.2em;
}

ul span {
  vertical-align: middle;
  padding: 0 0.5em;
}

ul h3 {
  padding: 0.5em 0 0 0;
  margin: 0.5em 0;
  width: 100%;
  display: flex;
  align-items: center;
}

ul div {
  padding: 0.2em 0;
  margin: 0;
  width: 100%;
  display: flex;
  align-items: center;
}

.hidden {
  display: none;
}

img {
  position: relative;
  /* измените эти значения */
  top: 5px;
  left: 5px;
}

.contacts {
  vertical-align: middle;
  display: block;
}

/* .contacts a {
  text-decoration: none;
  color: black;
} */

/* div.menu {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid black;
}

div.menu .menu-button {
  font-size: xx-large;
  padding: 1em;
  color: black;
  border-width: 0px 1px;
  border-style: solid;
  border-color: black;
  margin-left: -1px;
  margin-top: -1px;
  background-color: lightgrey;
}

div.menu .menu-button:hover {
  background-color: grey;
  cursor: pointer;
}

div.menu .menu-button.active {
  background-color: sandybrown;
} */
